////
/// Heading
////


@import 'variables';


// heading

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  small {
    display: block;
    font-weight: 400;
  }
}

h1, h2, h3 {
  margin-bottom: ($heading-margin-bottom * 1.5);
}

h4, h5, h6 {
  margin-bottom: $heading-margin-bottom;
}

h1 {
  font-size: $font-size-h1;
  letter-spacing: -.1rem;
  line-height: 3.5rem;
}

h2 {
  font-size: $font-size-h2;
  letter-spacing: -.08rem;
  line-height: 3rem;
}

h3 {
  font-size: $font-size-h3;
  line-height: 2.5rem;
}

h4 {
  font-size: $font-size-h4;
  line-height: 2rem;
}

h5 {
  font-size: $font-size-h5;
  line-height: 2rem;
}

h6 {
  font-size: $font-size-h6;
}
